.App 
{
	background: #000033;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

@media screen and (min-width: 480px)
{
	.App
	{
		padding: 100px;
	}
}